.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.html
*.css
*.js
*.log
*.json
*.yaml
*.yml
*.env
*.ini
*.toml
*.yaml
*.yml
.env.example
Dockerfile
*.db
app.py
init_admin.py
models.py
v2/
templates/
